main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

app-navbar {
    z-index: 1;
}

.wrapper {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
}